<div class="loading animated {{loading}}">
  <div class="message animated fadeIn">
    <img src="images/latics.png" alt="Wigan Athletic" />
    <h1>LaticApp</h1>
    <a href="/login/twitter"><span class="icon-twitter"></span>Login with Twitter</a>
  </div>
</div>
<div class="header">
  <section class="container">
    <div class="title">
      <img src="images/latics.png" alt="Wigan Athletic" />
      <h1>LaticApp</h1>
    </div>
    <div class="user">
      <img src="{{user._json.profile_image_url}}" alt="{{user.displayName}}" />
      <p>{{user.displayName}}</p>
      <p>&#64;{{user.username}}</p>
    </div>
  </div>
</div>
<div class="container main">
